html {
	font-size: 10px;
	font-family: $font-text;
}
body {
	@include fontSize(16);
	color: lighten($color-text, 50%);
	position: relative;
}
.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

//====burger icon====//
.burger {
    height: 20px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 10;
	&_l {
    	position: absolute;
    	display: block;
    	height: 3px;
    	width: 100%;
    	background: #606061;
    	transition: all .4s;
	
		&__top {
    		top: 0;
		}
		&__middle {
    		top: 8px;
		}
		&__bottom {
    		bottom: 0;
		}
	}
}	
.burger_l__top.active {
    transform: rotate(45deg);
    top: 5px;
}
.burger_l__middle.active {
    background: transparent;
    transform: rotate(90deg);
}
.burger_l__bottom.active {
    transform: rotate(-45deg);
    top: 5px;
}


//====text-decoration====//
.bg-blue {
	background: lighten($color-theme, 10%);
	display: inline-block;
	padding: 0 10px;
}
.btn {
	font-family: $font-title;
	text-transform: uppercase;
	@include fontSize(18);
	color: lighten($color-text, 30%);
	cursor: pointer;
	&__tr {
		border: 2px solid lighten($color-text, 30%);
		background: transparent;
		padding: 15px 30px;
		@include transition(all .2s);
		&:hover {
			color: $color-theme;
			border-color: $color-theme;
			transform: scale(1.1);
		}
	}
}
.sc-header {
	text-align: center;
	padding: 130px 0;
}
.sc-title {
	@include fontSize(38);
	text-transform: uppercase;
	color: $color-text;
	font-family: $font-title;
	font-weight: bold;
	margin: 0;
	margin-bottom: 20px;
}
.sc-subtitle {
	@include fontSize(18);
	text-transform: uppercase;
	font-family: $font-subtitle;
	color: lighten($color-text, 30%);
	margin: 0;
	&__b {
		font-weight: bold;
		color: lighten($color-text, 10%);
	}
	&__white {
			color: #ffffff;
		}
}
p {
	line-height: 1.75;
}
.top-slider::before {
	content: "";
    position: absolute;
    display: block;
    width: 85%;
    height: 82%;
    background: $color-section;
    top: 6%;
    left: 8%;

}
.left-slider::before {
	content: "";
    position: absolute;
    display: block;
    width: 116%;
    height: 75%;
    background: #eff0f2;
    top: 9%;
    left: -8%;

}
.top-slider img {
	position: relative;
    left: 15%;
}
.right-slider {
	margin-left: 80px;
	background: $color-section;
	height: 72%;
    top: 9%;
	&_slide {
		background: $color-section;
		text-align: center;
		& p {
			padding: 20px 50px;
		}
		& h3 {
			margin-top: 50px;
		}

	}
}
.dot {
	width: 10px;
    height: 10px;
    display: block;
    background: lighten($color-text, 70%);
    border-radius: 4px;
}
.prev , .next {
	width: 55px;
	height: 55px;
	display: block;
	background: #ffffff;
	box-shadow: 2px 3px 10px lighten($color-text, 90%);
	position: absolute;
	cursor: pointer;
}
.next {
	right: 0;
	bottom: -75px;
	&::before {
		content: '\203a';
		display: block;
		position: relative;
		color: #000000;
		top: -23%;
		left: 25%;
    	color: #000;
    	font-size: 60px;
	}

}
.prev {
	bottom: -75px;
    right: 90px;
    &::before {
		content: "\2039";
    	display: block;
    	position: relative;
    	top: -23%;
    	left: 25%;
    	color: #000;
    	font-size: 60px;
	}
}

.slick-dots {
	text-align: center;
	padding: 0;

}
.slick-dots li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
}
.slick-active .dot {
	background: $color-theme;
}
section:nth-child(even) {
	background: lighten($color-section, 4%);
}

.cross {
	position: relative;
	top: 30px;
	width: 32px;
	height: 32px;
	cursor: pointer;
		&:before {
		position: absolute;
		left: 15px;
		content: ' ';
		height: 33px;
		width: 2px;
		background-color: #000;
		transform: rotate(45deg);
		}
		&:after {
		transform: rotate(-45deg);
		position: absolute;
		left: 15px;
		content: ' ';
		height: 33px;
		width: 2px;
		background-color: #000;
	}
}

.modal-link {
	text-transform: uppercase;
	font-family: $font-text;
	cursor: pointer;
	&:after {
		content: '\2192';
		font-size: 32px;
		margin-left: 15px;
	}
}
.social_link {
	text-decoration: none;
	color: lighten($color-text, 30%); 
	display: inline-block;
	padding: 15px;
	&:hover {
		color: lighten($color-text, 70%); 
	}
	&__bg {
		color: lighten($color-text, 70%); 
		background: lighten($color-text, 30%); 
		margin-left: 10px;
		&:hover {
			color: $color-text;
			background: $color-theme;
		}

	}
}
.rating {
	display: flex;
	justify-content: center;
}
.star {
	width: 15px;
	height: 15px;
	background: url('../img/star.png') no-repeat;
	margin-right: 10px;
}
.top-nav {
	position: absolute;
    padding: 1em;
    height: 2em;
    width: 2em;
    border: none;
    border-radius: 50%;
    background-color: $color-theme;
    cursor: pointer;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    right: 2em;
    &::before {
    	content: '\2303';
    	font-size: 50px;

    }

}
//==== pop up style ====
#bg_popup{
position: fixed;
z-index: 99999;
background: rgba(0, 0, 0, 0.8);
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0;
@include transition(all 1s);
}
   
#popup {
background:#021623;
opacity: 0.7;
width: 50vw;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 5px 20px;
position: relative;
@include transition(all 2s);

}
   
.close{
display:block;
position:absolute;
top:5px;
right:5px;
width:20px;
height:20px;
color:#555;
background:#1BA600;
cursor:pointer;}