//====color variables====//

$color-link: #ffffff;
$color-visit: #505050;
$color-hover: #6eeee4;
$color-active: #505050;
$color-theme: #6ff6eb;
$color-text: #000000;
$color-title: #505050;
$color-section: #eff0f2;


//====fonts====//
$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Merriweather', serif;
$font-text:  'Raleway', sans-serif;
