.services {
	&_grid {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-gap: 10px;
		& img {
			width: 100%;
			height: auto;
		}
	}
	&_modal {
		 	opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			background: $color-theme;
			color: #000000;
			@include transition(all 0.5s);
			&.modal-active {
				opacity: 1;
				z-index: 10;
			}		
			&_text {
				padding: 10%;

			}
		 }
	&_item {
		position: relative; 
		&_content {
			transform: scale(0);
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			@include transition(all 0.3s);
			color: #ffffff;

		 }
		 &_text {
		 	position: absolute;
		 	top: 50%;
		 	left: 10%;
		 }
		 &:hover .services_item_content {
			transform: scale(1);
		}
		
		&__sm {
			grid-column: span 5;
			
		}

		&__bg {
			grid-column:  span 7;
			
		}
	}
}
