<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shopno</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,700|Raleway:400,700" rel="stylesheet">
        <link type="text/css" href="css/main.min.css" rel="stylesheet" media="screen">  
    </head>
    <body>
        <header class="header">
            {% include "_header.html" %}
        </header>
        <section class="about">
            {% include "_about.html" %}
        </section>
        <section class="works">
            {% include "_works.html" %}
        </section>
        <section class="services">
            {% include "_services.html" %}
        </section>
        <section class="team">
            {% include "_team.html" %}
        </section>
        <section class="testimonials">
            {% include "_testimonials.html" %}
        </section>
        <section class="brands">
            {% include "_brands.html" %}
        </section>
        <section class="contacts">
            {% include "_scontacts.html" %}
        </section>
        <footer class="footer">
            {% include "_footer.html" %}
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/jquery.onepage-scroll.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>    


<!--fonts
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;-->